
.wbdv-card .card-body {
    padding: 5px 0!important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wbdv-card.wbdv-title{
     max-width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.fa-check-square, .fa-file-alt, .fa-pen-alt,.fa-trash{
    cursor: pointer;
}


@media (min-width: 990px) and (max-width: 1199px){
.col-lg-c {
    width: 20.83333%;
    flex: 0 0 20%;
    max-width: 20%;
 }
}
.card{
    transform: scale(0.9);
}
