.list-text{
    height: 140px!important;

}

.list-bullets {
    padding: 20px;

}

.list-bullets.ol > li {
    list-style: square!important;
}

.list-bullets.ul > li {
    list-style: circle!important;
}

