
.wbdv-headers{
    display: flex ;

    color: rgb(107, 100, 100)!important;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid #dee2e6;
    flex-wrap: nowrap!important;
    margin-right: 0;
    padding: 20px 0 0;
    width: 84%;
    margin-left: 9%;
}
.wbdv-header{
    padding-left: 9px!important;
}
.wbdv-last-modified, .wbdv-grid-layout, .wbdv-delete{
    max-width: max-content!important;
}
.wbdv-list-layout{
    max-width: 5.333333%!important;
}

.wbdv-title{
    max-width: 50%!important;

}

.wbdv-delete{
    cursor: pointer;
}

.highlighted {
    background-color: dodgerblue!important;
    color:white;
}

.wbdv-icon path{
    fill: rgb(46, 141, 224)

}

.highlighted path{
    fill: white;
}
