@media (max-width: 720px){
  .wbdv-lesson-tabs{
    justify-content: center;
 }

  .wbdv-lesson-tabs > .nav-item{

      padding: 10px
  }
}
.wbdv-lesson-tabs > .nav-item > a{
    color:rgb(195, 189, 189)
}
.wbdv-lesson-tab.active {
    color: white;
    border: none!important;
    background-color: #2b3034!important;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 3px;
}

.wbdv-add-lesson{
    color: white;
    width: 1.5em!important;
    height:1.5em;
    margin: 10px;
    cursor: pointer;

}

.fa-times{
    cursor: pointer;
}

.wbdv-lesson-tab{
    display: flex;
    height: min-content;
    color:white;
    margin: auto 4px;
}
.wbdv-lesson-input{
    margin: 6px 2px;
}

.lesson-update-btn, .lesson-delete-btn, .lesson-edit-btn{
    margin: auto 0;
    cursor: pointer;
}
