

.wbdv-header{
    padding-left: 9px!important;
}
.wbdv-last-modified, .wbdv-grid-layout, .wbdv-delete{
    max-width: max-content!important;
}
.wbdv-list-layout{
    max-width: 5.333333%!important;
}

.wbdv-title{
    max-width: 50%!important;
    color: dodgerblue;
}

.wbdv-delete{
    cursor: pointer;
}

.highlighted {
    background-color: dodgerblue!important;
    color:white;
}

.wbdv-icon path{
    fill: rgb(46, 141, 224)

}

.highlighted path{
    fill: white;
}
