.widget-container{
    margin: 10px;
    border: 1px solid lightgrey;
    padding:20px;
    border-radius: 6px;
}

.widget-type{
    margin: auto 4px auto auto;
}

.widget-text{
    min-height: 100px;
}

.widget-title{
    text-transform: capitalize;
}
